<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tic Tac Toe</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <style>
        h1{
            text-align: center;
            margin-bottom: 30px;
        }
        .playchoice{
            display: flex;
            text-align: center;
            align-items: center;
            justify-content: center;
        }

        .playchoice span{
            margin-right: 50px;
        }
        #gamestatus{
            visibility:hidden;
            font-size: 40px;
            color: #fc8019;
            font-weight:bold;
            
        }
    </style>
</head>
<body>
    <h1>Tic Tac Toe</h1>
    <center>
    <div class="playchoice" >
        <span onclick="AIchoose()" id="aiplayer">
            <div class="card" style="width: 6rem;">
                <img src="static\assests\ai.png" class="card-img-top" alt="...">
                <div class="card-body">
                  <!-- <p class="card-text"></p> -->
                  <img src="static\assests\o (1).png" alt="">
                </div>
              </div>
        </span>
        <span id="humanplayer">
            <div class="card" style="width: 6rem;">
                <img src="static\assests\man.png" class="card-img-top" alt="...">
                <div class="card-body">
                  <!-- <p class="card-text"></p> -->
                  <img src="static\assests\close (1).png" alt="">
                </div>
              </div>
        </span>
    </div>
</center>
    <div class="container">
        
        <p id="gamestatus">no status</p>
       
        <div class="board">
            {% for i in range(9) %}
            <div class="square" id="sq{{ i }}" onclick="
            fetch(`/make_move/{{ i }}`)
                .then(response => response.json())
                .then(data => {
                    
                    // Update the chances of winning, loss, and tie
                    document.getElementById('winning').innerText = `Chances of Winning: ${data.winning.toFixed(2)}%`;
                    document.getElementById('loss').innerText = `Chances of Loss: ${data.loss.toFixed(2)}%`;
                    document.getElementById('tie').innerText = `Chances of Tie: ${data.tie.toFixed(2)}%`;

                    setTimeout(delay,2000);
                    for (let i = 0; i < 9; i++) {
                        document.getElementById(`sq${i}`).innerText = data.board[i];
                    }
                    if (data.message === 'Game Over') {
                        //alert(`Game Over! Winner: ${data.winner}`);
                        document.getElementById('gamestatus').innerText='Game Over! Winner:'+data.winner;
                        //window.location.reload(); // Reload the page to restart the game
                        disable_action();
                        for (let i=0;i<3;i++){
                            document.getElementById(`sq${data.cells[i]}`).style.backgroundColor='#fc8019';
                            console.log(data.cells[i]);
                        }
                        document.getElementById('gamestatus').style.visibility='visible';
                        document.getElementById('aiplayer').style.boxShadow='0 0 20px #fc8019';
                        
                    }
                    else if (data.message === 'Move Successful') {
                    // Update the board
                        // for (let i = 0; i < 9; i++) {
                        // document.getElementById(`sq${i}`).innerText = data.board[i];
                        // }
                        // // Update the chances of winning, loss, and tie
                        // document.getElementById('winning').innerText = `Chances of Winning: ${data.winning.toFixed(2)}%`;
                        // document.getElementById('loss').innerText = `Chances of Loss: ${data.loss.toFixed(2)}%`;
                        // document.getElementById('tie').innerText = `Chances of Tie: ${data.tie.toFixed(2)}%`;
                    }
                    else if(data.message === 'Draw') {
                        //alert(`Draw`);
                        document.getElementById('gamestatus').innerText='Draw'
                        disable_action();
                        document.getElementById('gamestatus').style.visibility='visible';
                        document.getElementById('aiplayer').style.boxShadow='0 0 20px #fc8019';
                        document.getElementById('humanplayer').style.boxShadow='0 0 20px #fc8019';

                    }
                    
                    else {
                        alert('Invalid move');
                    }
            });">{{ board[i] }}</div>
            {% endfor %}
        </div>
        <div>
            <p id="winning">Chances of Winning: {{ winning }}%</p>
            <p id="loss">Chances of Loss: {{ loss }}%</p>
            <p id="tie">Chances of Tie: {{ tie }}%</p>
        </div>
      
        
        <button onclick="restartGame()">Restart Game</button>
    </div>
    <script>
        function AIchoose(){
            fetch(`/ai_move`)
                .then(response => response.json())
                .then(data => {
                    
                    // Update the chances of winning, loss, and tie
                    document.getElementById('winning').innerText = `Chances of Winning: ${data.winning.toFixed(2)}%`;
                    document.getElementById('loss').innerText = `Chances of Loss: ${data.loss.toFixed(2)}%`;
                    document.getElementById('tie').innerText = `Chances of Tie: ${data.tie.toFixed(2)}%`;

                    setTimeout(delay,2000);
                    for (let i = 0; i < 9; i++) {
                        document.getElementById(`sq${i}`).innerText = data.board[i];
                    }
                    document.getElementById('aiplayer').removeAttribute('onclick');
            });
        }
        function disable_action(){
            var squares = document.getElementsByClassName('square');
             // Loop through each square and remove the 'onclick' attribute
            for (var i = 0; i < squares.length; i++) {
                squares[i].removeAttribute('onclick');
            }
        }
        function delay(){
            console.log("delay");
        }
        function makeMove(square) {
            fetch(`/make_move/${square}`)
                .then(response => response.json())
                .then(data => {
                    if (data.message === 'Game Over') {
                        alert(`Game Over! Winner: ${data.winner}`);
                        window.location.reload(); // Reload the page to restart the game
                    } else if (data.message === 'Move Successful') {
                    // Update the board
                        for (let i = 0; i < 9; i++) {
                        document.getElementById(`sq${i}`).innerText = data.board[i];
                    }
                    // Update the chances of winning, loss, and tie
                    document.getElementById('winning').innerText = `Chances of Winning: ${data.winning.toFixed(2)}%`;
                    document.getElementById('loss').innerText = `Chances of Loss: ${data.loss.toFixed(2)}%`;
                    document.getElementById('tie').innerText = `Chances of Tie: ${data.tie.toFixed(2)}%`;
                    } else {
                        alert('Invalid move');
                    }
            });
        }

        function restartGame() {
            fetch('/restart').then(response => {
                if (response.ok) {
                    window.location.reload();
                }
            });
        }
    </script>
</body>
</html>
